[2019-07-31 21:08] jhkimnew commented on #479
@shhsu  I'd like to remind you that the Download API is used by both "Files" and "Request Tracing".

[2019-07-31 21:11] #464 closed, assigned to nobody

[2019-08-01 00:17] shhsu opened #484 "Add back trace file xslt"
Trace file xslt feature was removed when fixing download and adapting to WAC FileTransferService. It would be good to add it back.

Note that FileTransferService does not yet to have the feature to simply save the file in blob. It would always download file to download directory (instead of temp). we need to think about how we would go about solving this problem.

[2019-08-01 00:19] shhsu opened #485 "Trace file list and log file list overlay issue"
![image](https://user-images.githubusercontent.com/6619915/62256728-489ac380-b3b7-11e9-8c44-f65899c15e3a.png)

[2019-08-01 21:41] shhsu commented on #485
There are more issues of those 2 files, the list selections are messed up too

[2019-08-01 22:03] #485 closed, assigned to shhsu

[2019-08-01 23:40] shhsu commented on #479
https://github.com/microsoft/IIS.WebManager/pull/487

[2019-08-01 23:40] #479 closed, assigned to shhsu

[2019-08-02 00:08] #484 closed, assigned to nobody

[2019-08-02 20:49] jhkimnew commented on #404
This is not a bug. This issue happens only when the window size is reduced with a specific size.

[2019-08-02 20:49] #404 closed, assigned to jhkimnew

[2019-08-02 20:54] jhkimnew commented on #410
Not reproducible and the issue can be fixed with refreshing the page.

[2019-08-02 20:54] #410 closed, assigned to jhkimnew

[2019-08-02 20:57] jhkimnew commented on #405
Considering the issue happens only with small window size, this won't affect the real user scenario. Eventually, we will port the tab control with WAC SDK and this issue will be gone at that time.
Closing this bug.

[2019-08-02 20:57] #405 closed, assigned to jhkimnew

[2019-08-05 22:34] jhkimnew commented on #211
Low priority because this page won't be used in WAC mode.

[2019-08-05 22:36] jhkimnew commented on #187
The switch component will be replaced with WAC SDK component in the future.

[2019-08-06 00:01] jhkimnew commented on #178
This seems to be fixed already.

[2019-08-06 00:01] #178 closed, assigned to nobody

[2019-08-06 00:06] jhkimnew commented on #176
Seems to be fixed.

[2019-08-06 00:06] #176 closed, assigned to nobody

[2019-08-06 02:24] jhkimnew commented on #174
This issue will be fixed when we use WAC SDK control.

[2019-08-06 02:25] jhkimnew commented on #149
This will be fixed when we use WAC SDK control.

[2019-08-06 02:26] jhkimnew commented on #148
This issue will be fixed when we use WAC SDK control.

[2019-08-06 02:30] jhkimnew commented on #130
The Actions button is a toggle button and users can collapse the control with clicking the button again.

[2019-08-06 02:31] jhkimnew commented on #102
This issue is only for Site mode, which is now low priority.

[2019-08-06 02:38] jhkimnew commented on #122
This issue will be fixed if we use WAC SDK control.

[2019-08-06 02:39] jhkimnew commented on #150
We won't need to use the land mark when we use WAC SDK.

[2019-08-06 02:41] jhkimnew commented on #137
Fixed.

[2019-08-06 02:41] #137 closed, assigned to nobody

[2019-08-06 02:42] jhkimnew commented on #113
This issue will be fixed when we use WAC SDK controls.

[2019-08-06 02:43] jhkimnew commented on #123
This will be fixed when we use WAC SDK controls.

[2019-08-06 02:44] jhkimnew commented on #131
This issue will be fixed when we use WAC SDK controls.

[2019-08-06 18:01] shirhatti commented on #131
Don't close these issues. We need them to track the work when we eventually migrate to the WAC controls

[2019-08-06 18:04] jhkimnew commented on #131
okay, I will reopen with tagging VNEXT.

[2019-08-08 00:34] jhkimnew commented on #174
This is now fixed.

[2019-08-08 00:34] #174 closed, assigned to nobody

[2019-08-08 00:35] #130 closed, assigned to nobody

[2019-08-13 23:12] shirhatti opened #491 "Remove the dashed line selection metaphor when not using keyboard navigation"
We currently use two different selection metaphor- a dashed outline and a blue highlight. Let's standardize on a single selection metaphor to be consistent with the rest of WAC.

WAC uses the dashed-line selection metaphor only when using keyboard navigation. I

Current behavior:

![image](https://user-images.githubusercontent.com/4734691/62983448-31f76200-bde4-11e9-8294-96786d879a52.png)

Desired

[2019-08-21 19:12] shhsu commented on #334
BTW, `ERROR_SUCCESS_REBOOT_REQUIRED` == `3010`

[2019-08-21 19:17] shhsu commented on #334
From extensive test, we found the following

[2019-08-22 20:59] shhsu opened #492 "Disable navigation on list items if it was a pop up (selector)"
When user is under website page and tries to select app-pool. If the user click on the name of the app pool, instead of selecting the item, the user is navigated away to app-pool edit page and no selection is made.

We should make it so if we are picking app-pool/binding/etc in a selector, not to navigate away.

[2019-09-04 23:10] #149 closed, assigned to nobody

[2019-09-04 23:11] #148 closed, assigned to nobody

[2019-09-04 23:12] #131 closed, assigned to shhsu

[2019-09-04 23:14] jhkimnew commented on #102
Closing because this UI is not used anymore.

[2019-09-04 23:14] #102 closed, assigned to nobody

[2019-09-04 23:30] jhkimnew commented on #211
Closing...
This is a setup UI, which is not exposed to users anymore.

[2019-09-04 23:30] #211 closed, assigned to jhkimnew

[2019-09-05 00:07] jhkimnew commented on #122
This issue happens because the controls which is behind the popup dialog is still accessible.
This can't be fixed unless we replace the popup dialog with WAC SDK controls.

[2019-09-05 00:07] #122 closed, assigned to jhkimnew

[2019-09-05 00:08] jhkimnew commented on #113
This will be fixed when we use WAC SDK controls.

[2019-09-05 00:08] #113 closed, assigned to jhkimnew

[2019-09-05 00:11] jhkimnew commented on #212
This UI is not used anymore.

[2019-09-05 00:13] jhkimnew commented on #198
This issue will be fixed when we use WAC SDK controls.

[2019-09-05 00:15] jhkimnew commented on #184
This UI is not used anymore.

[2019-09-05 00:17] jhkimnew commented on #181
This issue will be fixed when we use WAC SDK controls.

[2019-09-05 00:19] jhkimnew commented on #170
Fixed

[2019-09-05 17:30] jhkimnew commented on #63
This issue is not applicable because UI  is changed.
I confirmed that users can navigate all the controls with using down-arrow key.

[2019-09-05 17:34] jhkimnew commented on #73
Non standard UI, Won't fix

[2019-09-05 17:35] jhkimnew commented on #73
duplicate bug to #63

[2019-09-05 17:38] jhkimnew commented on #94
This issue will be fixed when we use WAC SDK controls.

[2019-09-05 17:40] jhkimnew commented on #100
This UI is not used anymore.

[2019-09-05 17:41] jhkimnew commented on #109
Fixed

[2019-09-05 17:43] jhkimnew commented on #175
Fixed

[2019-09-05 17:44] jhkimnew commented on #133
Fixed

[2019-09-05 17:47] jhkimnew commented on #128
Fixed

[2019-09-05 17:48] jhkimnew commented on #125
Fixed

[2019-09-05 17:50] jhkimnew commented on #116
This issue will be fixed when we use WAC SDK controls.

[2019-09-05 17:51] jhkimnew commented on #159
This issue will be fixed when we use WAC SDK controls.

[2019-09-05 17:56] jhkimnew commented on #173
This will be fixed when we use WAC SDK controls.

[2019-09-05 17:57] jhkimnew commented on #164
Fixed

[2019-09-05 18:03] jhkimnew commented on #145
Fixed

[2019-09-05 18:05] jhkimnew commented on #136
Fixed

[2019-09-05 18:06] jhkimnew commented on #107
This issue will be fixed when we use WAC SDK controls.

[2019-09-05 18:07] jhkimnew commented on #81
Fixed

[2019-09-05 18:08] jhkimnew commented on #76
Fixed

[2019-09-12 17:34] jhkimnew commented on #236
Closing...
This work item can be revisited actually when we work on this and don't need to keep this issue opened..

[2019-09-12 17:34] #236 closed, assigned to shhsu

[2019-09-16 23:30] shhsu opened #495 "Update title property in nuspec file"
Title should show friendly name such as IIS Manager (Preview)

[2019-09-18 01:37] Jzheng213 opened #496 "Issue with getting access token"
Hello, I am having an issue grabbing the access code.
The Get request returns the csrf token perfectly fine, but when I make the post request I get a 400 response.

My code below;
[code]

[2019-09-18 01:39] #496 closed, assigned to nobody

[2019-09-27 11:17] Tanushagottipati commented on #206
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ColorContrast; #MAS1.4.3; #C+E-H; #.NETWebsites; #Edge

[2019-09-27 11:18] Tanushagottipati commented on #205
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.1; #C+E-H; #.NETWebsites; #Chrome; #NVDA

[2019-09-27 11:21] Tanushagottipati commented on #198
GitHubTags: #A11yTCS; #A11yUsable; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #Narrator; #C+E-H; #.NETWebsites; #Edge; #Chrome; #NVDA

[2019-09-27 11:22] Tanushagottipati commented on #182
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.1; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #MAS1.3.2

[2019-09-27 11:24] Tanushagottipati commented on #174
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #MAS3.3.1; #C+E-H; #.NETWebsites; #Chrome; #MAS3.3.3; #Edge

[2019-09-27 11:25] Tanushagottipati commented on #169
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Keyboard; #MAS2.4.7; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2019-09-27 11:26] Tanushagottipati commented on #168
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.1; #C+E-H; #.NETWebsites; #Edge; #Narrator

[2019-09-27 11:28] Tanushagottipati commented on #167
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.2; #C+E-H; #.NETWebsites; #Edge; #Narrator; #MAS2.4.3; #Keyboard

[2019-09-27 11:30] Tanushagottipati commented on #162
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.2; #C+E-H; #.NETWebsites; #Edge; #Narrator; #MAS2.1.1; #Keyboard

[2019-09-27 11:31] Tanushagottipati commented on #159
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.1; #C+E-H; #.NETWebsites; #Edge; #Narrator

[2019-09-27 11:32] Tanushagottipati commented on #158
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.2; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #Edge; #Narrator; #MAS2.1.1; #Keyboard

[2019-09-27 11:33] Tanushagottipati commented on #137
GitHubTags: #A11yTCS; #A11yUsable; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Edge; #C+E-H; #.NETWebsites; #Chrome

[2019-09-27 11:33] Tanushagottipati commented on #130
GitHubTags: #A11yTCS; #A11yUsable; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Edge; #C+E-H; #.NETWebsites; #Chrome

[2019-09-27 11:34] Tanushagottipati commented on #119
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.2; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #Edge; #Narrator; #MAS2.4.3; #Keyboard

[2019-09-27 11:37] Tanushagottipati commented on #117
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.2; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #Edge; #Narrator; #MAS2.4.3; #Keyboard

[2019-09-27 11:39] Tanushagottipati commented on #112
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.2; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #Edge; #Narrator; #MAS2.4.3; #Keyboard

[2019-09-27 11:39] Tanushagottipati commented on #111
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Keyboard; #MAS2.4.7; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2019-09-27 11:42] Tanushagottipati commented on #110
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.1; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #MAS2.1.1; #Keyboard

[2019-09-27 11:43] Tanushagottipati commented on #109
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.2; #C+E-H; #.NETWebsites; #Chrome; #NVDA

[2019-09-27 11:43] Tanushagottipati commented on #108
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.2; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #Edge; #Narrator; #MAS2.4.3; #Keyboard

[2019-09-27 11:44] Tanushagottipati commented on #97
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Keyboard; #MAS2.1.1; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2019-09-27 11:45] Tanushagottipati commented on #94
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.1; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #Edge; #Narrator

[2019-09-27 11:46] Tanushagottipati commented on #92
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #MAS2.2.2; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2019-09-27 11:47] Tanushagottipati commented on #74
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #NonTextContent; #MAS1.1.1; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2019-09-27 11:47] Tanushagottipati commented on #73
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.2; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #Edge; #Narrator; #MAS2.4.3; #Keyboard

[2019-09-27 11:48] Tanushagottipati commented on #69
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #MAS3.3.2; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2019-09-27 11:49] Tanushagottipati commented on #63
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.1; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #Narrator; #Edge

[2019-09-27 11:49] Tanushagottipati commented on #201
GitHubTags: #A11yTCS; #A11yUsable; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Edge; #C+E-H; #.NETWebsites; #Chrome

[2019-09-27 11:49] Tanushagottipati commented on #191
GitHubTags: #A11yTCS; #A11yUsable; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Edge; #C+E-H; #.NETWebsites; #Chrome

[2019-09-27 11:50] Tanushagottipati commented on #123
GitHubTags: #A11yTCS; #A11yUsable; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Edge; #C+E-H; #.NETWebsites; #Chrome

[2019-09-27 11:51] Tanushagottipati commented on #204
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Keyboard; #MAS2.1.2; #C+E-H; #.NETWebsites; #Chrome; #Edge; #MAS2.4.3

[2019-09-27 11:51] Tanushagottipati commented on #196
GitHubTags: #A11yTCS; #A11yUsable; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #C+E-H; #.NETWebsites; #Chrome

[2019-09-27 11:52] Tanushagottipati commented on #180
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.2; #C+E-H; #.NETWebsites; #Chrome; #NVDA

[2019-09-27 11:52] Tanushagottipati commented on #178
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.2; #C+E-H; #.NETWebsites; #Chrome; #NVDA

[2019-09-27 11:53] Tanushagottipati commented on #173
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.1; #C+E-H; #.NETWebsites; #Edge; #Narrator

[2019-09-27 11:53] Tanushagottipati commented on #171
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ColorContrast; #MAS1.4.3; #C+E-H; #.NETWebsites; #Edge

[2019-09-27 11:54] Tanushagottipati commented on #145
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.1; #C+E-H; #.NETWebsites; #Edge; #Narrator

[2019-09-27 11:55] Tanushagottipati commented on #143
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Keyboard; #MAS2.4.3; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2019-09-27 11:55] Tanushagottipati commented on #113
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.2; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #Narrator; #Edge

[2019-09-27 11:56] Tanushagottipati commented on #107
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.1; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #Edge; #Narrator; #MAS3.3.3

[2019-09-27 11:57] Tanushagottipati commented on #84
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Keyboard; #MAS2.1.1; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2019-09-27 11:57] Tanushagottipati commented on #80
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Keyboard; #MAS2.1.1; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2019-09-27 11:57] Tanushagottipati commented on #78
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Keyboard; #MAS2.4.7; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2019-09-27 11:58] Tanushagottipati commented on #65
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Keyboard; #MAS2.4.3; #C+E-H; #.NETWebsites; #Edge

[2019-09-27 11:59] Tanushagottipati commented on #60
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Keyboard; #MAS2.4.3; #C+E-H; #.NETWebsites; #Chrome; #Edge; #MAS1.3.2; #ScreenReader; #Narrator; #NVDA

[2019-09-27 11:59] Tanushagottipati commented on #59
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Keyboard; #MAS2.4.7; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2019-09-27 12:00] Tanushagottipati commented on #193
GitHubTags: #A11yTCS; #A11yUsable; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #C+E-H; #.NETWebsites; #Chrome; #NVDA

[2019-09-27 12:01] Tanushagottipati commented on #150
GitHubTags: #A11yTCS; #A11yUsable; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #C+E-H; #.NETWebsites; #Edge; #Narrator

[2019-09-27 12:01] Tanushagottipati commented on #215
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ColorContrast; #MAS1.4.3; #C+E-H; #.NETWebsites; #Edge

[2019-09-27 12:02] Tanushagottipati commented on #214
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ColorContrast; #MAS1.4.3; #C+E-H; #.NETWebsites; #Edge

[2019-09-27 12:02] Tanushagottipati commented on #212
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.1; #C+E-H; #.NETWebsites; #Chrome; #NVDA; #Edge; #Narrator

[2019-09-27 12:03] Tanushagottipati commented on #211
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ScreenReader; #MAS1.3.1; #C+E-H; #.NETWebsites; #Chrome; #NVDA; MAS2.4.6; #Headings

[2019-09-27 12:04] Tanushagottipati commented on #210
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Keyboard; #MAS2.1.1; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2019-09-27 12:04] Tanushagottipati commented on #209
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ColorContrast; #MAS1.4.3; #C+E-H; #.NETWebsites; #Edge

[2019-09-27 12:04] Tanushagottipati commented on #208
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ColorContrast; #MAS1.4.3; #C+E-H; #.NETWebsites; #Edge

[2019-11-12 16:11] afoster757 opened #497 "Error when accessing the websites tab and application pools tab"
After getting all of the prereqs installed and running the module the following error is generated when trying to list the websites or application pools:

{"message":"ajax error 400","name":"AjaxError","xhr":{"__zone_symbol__timeoutfalse":[{"type":"eventTask","state":"scheduled","source":"XMLHttpRequest.addEventListener:timeout","zone":"angular","runCount":0}],"__zone_symbol__errorfalse":[{"type":

[2019-12-16 11:16] centreboard opened #499 "Can't connect to server with only TLS 1.2"
Running Windows Admin Centre 1910 with msft.iis.iis-management 0.1.3042563 locally on a Windows 10 PC.

I was able to setup and use the IIS extension with our web servers previously. Operations have now configured the web servers to now use only TLS 1.2 and the extension shows

Which looks like it's trying to use the the wrong TLS version to make connections.

I note the Windows Admin Centre `SmeD

[2020-01-02 19:47] shhsu commented on #499
This is an issue for Windows Admin Center https://docs.microsoft.com/en-us/windows-server/manage/windows-admin-center/understand/faq
I am not aware of any public channel for opening a issue. I am pinging them internally.

[2020-01-02 20:03] shhsu commented on #497
@afoster757
Can you locate logs in %UserProfile%\wac-iis-logs?
Can you repro the issue and send me the resulting log files (specifically imporant ones are `Invoke-LocalHttp-*.log` and `Get-Token-*.log`)

[2020-01-08 09:13] InduPriya1805 commented on #70
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #MAS4.1.2; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2020-01-08 09:14] Tanushagottipati commented on #67
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #ColorContrast; #MAS1.4.3; #C+E-H; #.NETWebsites; #Edge

[2020-01-08 09:17] Accessibility56 commented on #98
GitHubTags: #A11yTCS; #A11yMAS; #C+E-H; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #MAS2.4.3; #Keyboard; #.NETWebsites; #Edge; #Chrome

[2020-01-08 09:18] Nikhitha-13 commented on #82
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #Resize; #MAS1.4.4; #C+E-H; #.NETWebsites; #Chrome; #Edge

[2020-01-08 09:19] Arjun553 commented on #101
GitHubTags: #A11yTCS; #A11yMAS; #C+E-H; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #MAS2.1.1; #Resize; #.NETWebsites; #Edge; #Chrome

[2020-01-08 09:21] Arjun553 commented on #100
GitHubTags: #A11yTCS; #A11yMAS; #C+E-H; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #MAS1.3.1;#Narrator: #NVDA; #Screen Reader; #.NETWebsites; #Edge; #Chrome

[2020-01-08 09:21] Ashwinipola26 commented on #96
GitHubTags: #A11yTCS; #A11yMAS; #C+E-H; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #MAS2.4.7; #Keyboard; #.NETWebsites; #Edge; #Chrome

[2020-01-08 09:21] Arjun553 commented on #99
GitHubTags: #A11yTCS; #A11yMAS; #C+E-H; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #MAS2.1.1; #Keyboard; #.NETWebsites; #Edge; #Chrome

[2020-01-08 09:26] Manisha370 commented on #62
GitHubTags: #A11yTCS; #A11yMAS; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #LinkPurpose; #MAS2.4.4; #C+E-H; #.NETWebsites; #Chrome; #Edge;

[2020-01-08 09:34] v-lasiva commented on #68
GitHubTags: #A11yTCS; #A11yMAS; #C+E-H; #DesktopWeb; #Win10; #A11y_Manage.IIS.Net; #MAS2.4.4; #Keyboard; #.NETWebsites; #Edge; #Chrome

[2020-01-10 21:41] shhsu commented on #499
@centreboard
``` Operations have now configured the web servers to now use only TLS 1.2 and the extension shows```
Can you share what exact settings are changed for repro purpose?

[2020-01-30 19:52] dtsob75 opened #502 "IIS Manager not visible on WAC connection with limited access"
We are trying to use iis mgr ext in WAC to allow developers to manager websites only (no other access should be available).  IIS Mgr ext seems to be the best option for this.  However, when we create role based access control in wac and then use "managing as" with one of the accounts assigned to the "Windows Admin Center Administrators" group, the installed IIS Extension does not show up. If we lo

[2020-01-30 23:00] bariscaglar commented on #502
This is not a scenario we tested in. Our assumption was WAC is usable only by administrators. I'll assign this to @shhsu for further investigation.

[2020-02-06 06:59] daouxv opened #503 "Run IIS.WebManager app error"
Run script: build.ps1.

It can build success, but the page does’t work.

![image](https://user-images.githubusercontent.com/48527326/73912866-9a854e80-48f0-11ea-8a14-37566c5f2219.png)

[code]

env:
node 8.17.0
window server 2016

[2020-02-17 10:26] ColinRaaijmakers commented on #503
![error](https://user-images.githubusercontent.com/1965665/74645437-39733b80-5178-11ea-9770-8b2bbb350d92.JPG)
Same here. Reproduce: Download source, build, upload to iis and run.

[2020-03-05 08:00] lannotimo commented on #503
Dirty fix, change the Injectable attribute in src/app/files/files.service.ts to: `@Injectable({providedIn: 'root'})`.

[2020-04-01 22:19] sebwerner opened #505 "Could not establish trust relationship for the SSL/TLS secure channel"
I am getting the following error when opening the IIS extension in Server Manager:

Unknown error has occurred when trying to initialize Web Server Module: "The underlying connection was closed: Could not establish trust relationship for the SSL/TLS secure channel."

[2020-04-02 00:25] ephos commented on #502
This is the primary use case for us as well.  We need to be able to give view access to other folks to view IIS settings without giving them admin to IIS or then server itself.

[2020-09-10 21:31] qmutz commented on #334
RPM - REAL PROCESS MATRIX - or BINARY abstraction layer ... LINUX would not incur this so compiling into the I I S would of course STD_OUT as a SUB PROCESS and is not necessary to compile RPM ... I I S itself can lead you into that DIRECTORY of abstraction layer as the two LAYERS of EXECUTABLE OR CAB files are very similar to RPM which hold the DRIVERS inherit of motor or STEPPER MOTORS . . . SM i

[2021-01-23 10:44] eliassal opened #507 "Unknown error occured when trying to initialize web server module"
Hi I installed the extension, then clicking on the blade "IIS", I was asked to install an extension, then got an the following error. How can this be identified/resolved? Thanks
![image](https://user-images.githubusercontent.com/8447864/105576018-36150680-5d70-11eb-9448-9cd53f74f17f.png)

[2021-01-23 17:29] eliassal commented on #507
after rebooting my win10 machine, it started working and I was able to access IIS locally. However, I don't see the possibility to connecting to another to a remote IIS!!, can you please tell me how if it is possible?

![IISExt](https://user-images.githubusercontent.com/8447864/105609326-d4bd5980-5da8-11eb-9e00-fd27e4108c3f.jpg)

I connected to the remote server in WAC, I see the the IIS blade but

[2021-03-12 15:57] AaronSadlerUK commented on #502
Nearly a year on and there is no progress on this?

[2021-11-10 12:51] siggima opened #510 "Unknown error has occurred when trying to initialize Web Server Module: "The remote server returned an error: (400) Bad Request.""
Hi I installed IIS Extension on Server 2022 and when I try to open I get this error, I use wac as a gateway I am running version 2110 build 1.3.2111.01001
Unknown error has occurred when trying to initialize Web Server Module: "The remote server returned an error: (400) Bad Request."
![image](https://user-images.githubusercontent.com/26834786/141115674-c2b79b6c-86c3-452a-b902-93c7e4fde99d.png)

[2022-02-03 16:41] AbstractionsAs commented on #510
I have this problem as well. Any updates?

[2022-02-15 20:44] atomsmith commented on #505
For me, this error was caused by expiration of the self-signed certificates installed by the [IIS.Administration](https://github.com/microsoft/IIS.Administration) component. Uninstalling and reinstalling this component created fresh certificates that are good for another two years. However, it looks like [IIS.Administration is end-of-life](https://github.com/microsoft/IIS.Administration/issues/305

[2022-05-30 11:19] BorisBrock commented on #510
Suddenly I get this error, too. Couldn't find a way to fix it or get at least more info.
Any help would be appreciated.

[2022-05-31 06:34] smezger commented on #510
same here! Suddenly seeing this error. Log is attached.
[vistrpndas4.zip](https://github.com/microsoft/IIS.WebManager/files/8830022/vistrpndas4.zip)

[2022-08-31 19:07] yaqiyang commented on #510
is the IIS server running on the remote machine? Can you go to https://[servername]:55539/#/api/webserver?

[2022-08-31 19:08] yaqiyang commented on #507
is the IIS server running on the remote machine? Can you go to https://[servername]:55539/#/api/webserver?

[2022-08-31 19:08] #505 closed, assigned to nobody

[2022-08-31 19:10] yaqiyang commented on #502
We only support use it as admin for now

[2022-08-31 19:10] #502 closed, assigned to shhsu

[2022-08-31 19:11] #499 closed, assigned to shhsu

[2022-08-31 19:11] #497 closed, assigned to shhsu

[2022-08-31 19:12] #495 closed, assigned to nobody

[2022-08-31 19:12] #492 closed, assigned to nobody

[2022-08-31 19:12] #491 closed, assigned to shhsu

[2022-08-31 19:12] #338 closed, assigned to nobody

[2022-08-31 19:12] #471 closed, assigned to nobody

[2022-08-31 19:13] #474 closed, assigned to nobody

[2022-08-31 19:13] #475 closed, assigned to nobody

[2022-08-31 19:13] #439 closed, assigned to shhsu

[2022-08-31 19:13] #467 closed, assigned to nobody

[2022-08-31 19:13] #458 closed, assigned to nobody

[2022-08-31 19:13] #391 closed, assigned to shhsu

[2022-08-31 19:14] #452 closed, assigned to nobody

[2022-08-31 19:14] #438 closed, assigned to shirhatti

[2022-08-31 19:14] #413 closed, assigned to shhsu

[2022-08-31 19:14] #394 closed, assigned to shhsu

[2022-08-31 19:14] #393 closed, assigned to shhsu

[2022-08-31 19:14] #374 closed, assigned to shhsu

[2022-08-31 19:14] #392 closed, assigned to nobody

[2022-08-31 19:15] #371 closed, assigned to nobody

[2022-08-31 19:15] #370 closed, assigned to nobody

[2022-08-31 19:15] #364 closed, assigned to nobody

[2022-08-31 19:15] #344 closed, assigned to shhsu

[2022-08-31 19:15] #359 closed, assigned to nobody

[2022-08-31 19:15] #341 closed, assigned to nobody

[2022-08-31 19:16] #334 closed, assigned to nobody

[2022-08-31 19:16] #343 closed, assigned to nobody

[2022-08-31 19:16] #285 closed, assigned to shhsu

[2022-08-31 19:16] #290 closed, assigned to shhsu

[2022-08-31 19:16] #296 closed, assigned to shhsu

[2022-08-31 19:16] #329 closed, assigned to nobody

[2022-08-31 19:16] #299 closed, assigned to nobody

[2022-08-31 19:16] #298 closed, assigned to nobody

[2022-08-31 19:17] #231 closed, assigned to shhsu

[2022-08-31 19:17] #232 closed, assigned to shhsu

[2022-08-31 19:17] #239 closed, assigned to nobody

[2022-08-31 19:17] #242 closed, assigned to nobody

[2022-08-31 19:17] #254 closed, assigned to jhkimnew

[2022-08-31 19:18] #276 closed, assigned to nobody

[2022-08-31 19:18] #280 closed, assigned to nobody

[2022-08-31 19:18] #72 closed, assigned to nobody

[2022-08-31 19:18] #123 closed, assigned to nobody

[2022-08-31 19:19] #187 closed, assigned to nobody

[2022-08-31 19:19] #190 closed, assigned to nobody

[2022-08-31 19:19] #191 closed, assigned to nobody

[2022-08-31 19:19] #193 closed, assigned to nobody

[2022-08-31 19:19] #201 closed, assigned to nobody

[2022-08-31 19:19] #202 closed, assigned to nobody

[2022-08-31 19:19] #203 closed, assigned to shhsu

[2022-08-31 19:20] #11 closed

[2022-08-31 19:20] #13 closed

[2022-08-31 19:20] #15 closed

[2022-08-31 19:20] #49 closed, assigned to nobody

[2022-08-31 19:20] #50 closed, assigned to nobody

[2022-08-31 19:20] #150 closed, assigned to nobody

[2022-08-31 19:20] #219 closed, assigned to shhsu

[2022-08-31 19:20] #223 closed, assigned to shhsu

[2022-09-05 17:52] eliassal commented on #507
Oh, I posted this more than 1 year ago :-). Yes, it is running on a remote machine. I have completely forgot this issue, today, your response reminded me, I removed and downloaded a new version and hop I was able to connect to one IIS on the remote machine.

[2022-09-05 18:02] eliassal commented on #507
I understand from the blog
https://4sysops.com/archives/manage-internet-information-services-iis-using-windows-admin-center-wac/
That there should be a "Monitoring" Tab which provides a live diagram showing the current number of requests and the data volumes transferred. This is not the case when I click on the web site in WAC

[2022-09-05 18:02] #507 closed, assigned to nobody

[2022-09-05 18:07] eliassal commented on #507
After a succesful connection for the first time, I visited another server in WAC, came back to the host where I have IIS, clicked on IIS extension I got
![WAC-IIS](https://user-images.githubusercontent.com/8447864/188498781-aae83f71-61ac-4595-99e3-a9daca0b6d7b.jpg)

[2022-09-05 18:18] eliassal commented on #510
This morning I was able to cinnect for the 1st time to the remote IIS in WAC. After I visited another host and came back to the hosts hosting remote IIS, I started getting the same error (I restarted IIS admin on the remote host but it did not help).
Also I am able to connect to https://[servername]:55539/#/api/webserver? locally and remotely.

![WAC-IIS](https://user-images.githubusercontent.com/

[2022-09-06 17:16] yaqiyang commented on #510
Are you running Windows Admin Center on the same machine as IIS? I did have the same issue once in that case. Also can you try add yourself to the appsettings.json file under "C:\Program Files\IIS Administration\\[version]\Microsoft.IIS.Administration\config\appsettings.json" on the IIS host as [described here](https://github.com/microsoft/IIS.Administration#:~:text=Open%20src%5CMicrosoft.IIS.Admi

[2022-09-06 20:07] eliassal commented on #510
I tried your suggestion but it seems that the file has permission that does not allow changing the file. I even opened the file in notepad as ADMIN but it does not allow me to change the file in spite of the dact that I stopped IIS admin, WWW...
In notepad++ it displays a message "Please  Check if this file is opened in another program"

![WAC-IIS_002](https://user-images.githubusercontent.com/844

[2022-09-06 20:18] yaqiyang commented on #510
By default, the files under  "C:\Program Files\IIS Administration\\[version]\Microsoft.IIS.Administration\config" are owned by System or TrustedInstaller. First, you need to take ownership of that folder, then give yourself permission to modify files in it.
https://www.windowscentral.com/how-take-ownership-files-and-folders-windows-10
https://www.thewindowsclub.com/change-files-and-folders-permiss

[2022-09-06 20:58] yaqiyang commented on #510
Also, you should use **double backslash** in your user name, not single backslash

[2022-09-07 08:09] eliassal commented on #510
Thanks I was able to modify the file, restarted he IIS admin but it did not help I am getting the exact same error

[2022-09-07 18:55] yaqiyang commented on #510
Let me know the version of WAC and IIS Extension you have
https://localhost:6516/settings/updates should show you the WAC version.
Go to https://localhost:6516/settings/extension/installed. you should find the version of IIS Extension.

When you get the error, go to Edge menu->More tools-Developer tools.
Click the Console tab. What errors do you see that is related to (400) Bad Request?
Click the

[2022-09-15 18:03] drielenr commented on #510
I got a similar error message, but instead of (400) Bad Request, I had the (401) Unauthorized. I followed the instructions @yaqiyang described: changed the ownership of the folder and added myself as admin and owner in the appsetting.json file. At first, I kept getting the same error message, but I get it working after I reset my machine.

[2022-09-15 22:37] yaqiyang commented on #510
You need to restart the Microsoft IIS Administration service after you changed appsettings.json.

[2022-10-07 10:13] desmondkung commented on #510
Same here. Just installed and got a 400 Bad Request. WAC is installed in a different machine and I'm trying to access IIS in a 2022 server core machine.

[2022-10-10 23:57] yaqiyang commented on #510
Do you have the same problem when accessing IIS on other machines using WAC?

To help us diagnose the problem, please send us the full Response text from the server.
* With the error message showing in the IIS extension, go to Edge menu
* Open "More tools -> Developer tools"
* Select "Network" tab
* Locate the http command that has the error message
* Copy the full response text

![WAC-IIS](https:

[2022-10-11 02:23] desmondkung commented on #510
Same issue for 2022 Standard with GUI.

Error for 2022 Standard with GUI: {"sessionId":"f66e8382-2ccf-4394-bc11-f99699dd26b6","completed":"True","results":[],"exception":"The remote server returned an error: (400) Bad Request.","progress":[{"id":174593042,"parentId":-1,"activity":"Reading web response","status":"Reading response stream... (Number of bytes read: 0)","percent":-1,"secondsRemaining":

[2022-10-11 04:27] yaqiyang commented on #510
@desmondkung , thanks for the data. Unfortunately, I don't see anything that can help. Can you export all that data to HAR file and send it to me?

To export as HAR, select the export button on top of the Network tab,

![image](https://user-images.githubusercontent.com/14302929/194997066-6ba1c21e-e2ed-45f2-adc5-1996eb3768f6.png)

[2022-10-11 06:44] desmondkung commented on #510
what's your MS mail address? I'll send to you as attachment.

[2022-10-11 06:45] desmondkung commented on #510
@yaqiyang what's your MSFT mail address? I'll send to you as a zip attachment.

[2022-10-11 15:47] yaqiyang commented on #510
yaqi.yang@microsoft.com

I got status 400 from a remote machine if IIS Admin is not exposed on default port 55539. But the error message is different. So that is most likely not the root cause for you. When you capture the network traffic data, please first move focus away from IIS in WAC, then click on IIS from left navigation pane again to make sure you have captured all network traffic during t

[2022-10-11 20:05] yaqiyang commented on #510
@desmondkung  Error 400 can also be related to authentication. Do you have permissions to access IIS Administration on the remote machine? Can you access it by something like https://[reomote machine name]:55539?

[2022-10-11 22:35] desmondkung commented on #510
I did a "powershell tnc <remote iis ip> -port 55539" from the WAC gateway.
Before (port closed) and after explicitly opening 55539 (port open) on the remote iis machine, I'm getting shown the same error message: Unknown error has occurred when trying to initialize Web Server Module: "The remote server returned an error: (400) Bad Request."

[2022-10-11 23:15] yaqiyang commented on #510
* When I tried `tnc localhost -port 55539` in my test, it was successful. But not successful when I did just ` tnc -port 55539`
* What happens if you just try to navigate to https://[reomote machine name]:55539 in the browser?

The error you mentioned above happens when the remote IIS server is in an unknow state. You can uninstall IIS Admin from your remote machine and let WAC install it automati

[2022-10-11 23:28] desmondkung commented on #510
1) Test-netconnection requires a destination.
2) will test browser access shortly.
3) I used the recommended option where WAC installs IISAdmin 6.0 from online source. It doesn't add a firewall rule for 55539 though.

[2022-10-11 23:44] yaqiyang commented on #510
Firewall is not a problem. That is the first thing I tested. WAC can still access IIS even if port 55539 is not enabled from the Firewall. It is something else that put the IIS server in an unknown state that I cannot reproduce. If possible, try access it on the IIS machine through https://localhost:55539

[2022-10-11 23:50] desmondkung commented on #510
https://localhost:55539 works.
![works](https://user-images.githubusercontent.com/3261081/195218643-497c6f50-6383-48ea-ac40-9586b4e02db2.PNG)

[2022-10-12 18:56] yaqiyang commented on #510
This is what you have. The remote address is at port 80, not a secure port. But in my local test, it is always the same port of WAC.
![image](https://user-images.githubusercontent.com/14302929/195424958-d135a8a5-f833-4ba5-bb1f-f6daa1172551.png)

I think some configuration settings on your WAC are causing the problem, but I cannot reproduce it. Are you running WAC from a remote machine?

[2022-10-12 21:58] desmondkung commented on #510
Yeah, WAC is remote gateway. There is http to https redirection from 80 to 8443.

[2022-10-13 18:27] yaqiyang commented on #510
@desmondkung, I set up a remote WAC gateway exactly like yours, but still cannot reproduce it. Does this happen to other machines? Can you try to access IIS on a different machine?

[2022-10-13 22:11] desmondkung commented on #510
Let me try on 2019 standard.

Not sure if this info helps. I'm connecting to the servers using WAC's "Manage As" option as domain admin instead of my domain user account. The servers that are connected to WAC also have resource-based constrained delegation applied using the following lines:

[code]

[2022-10-13 23:51] yaqiyang commented on #510
The error occurred when WAC tried to create an access token on the target machine. Your domain admin account should also be a local admin. So it should be able to create access tokens. But anything can happen. Maybe the log files can give us some clues. Check the logs on the target machine at C:\Program Files\IIS Administration\logs. They could have some useful error messages.

In this process, WA

[2022-10-14 00:13] desmondkung commented on #510
@yaqiyang just tested connection to 2019 and it works. 2022 doesn't have any log file. I'll try the token script on 2022 shortly.

![2019](https://user-images.githubusercontent.com/3261081/195734124-28a08b29-d8d0-404f-a540-dc24d578b331.PNG)

[2022-10-14 00:22] desmondkung commented on #510
400 when running PowerShell in 2022 target
![token](https://user-images.githubusercontent.com/3261081/195734929-38e6ab4a-4025-4ab6-a7c0-5d8ccd8da5bb.PNG)

No token created on local
![2022_local](https://user-images.githubusercontent.com/3261081/195734967-19e12e41-6196-4d11-a08d-8fe18739dd67.PNG)

[2022-10-14 01:14] desmondkung commented on #510
2019 target (working)
![2019_wac](https://user-images.githubusercontent.com/3261081/195739655-83f4d741-a713-404e-9a74-852d3e17cbc7.PNG)

2022 target (not working)
![2022_wac](https://user-images.githubusercontent.com/3261081/195739692-1e889956-a74d-4b0f-8fa6-c582c58e8aa6.PNG)

[2022-10-14 01:43] yaqiyang commented on #510
[Get-Token.ps1.txt](https://github.com/microsoft/IIS.WebManager/files/9781717/Get-Token.ps1.txt)

I actually reproduced the same error on my local machine when I manipulated the date format. We may be passing an incorrectly formatted expiration date to the HTTP request. I updated the script and also added some debug output. Can you download it, rename back to .ps1, then run the same command again

[2022-10-14 02:09] desmondkung commented on #510
date time format
![datetimeFormat](https://user-images.githubusercontent.com/3261081/195745770-28b7c48a-e4f6-4433-bc31-58fc0e5d97ed.PNG)

result from PowerShell
![result](https://user-images.githubusercontent.com/3261081/195745843-1f4b8a79-2c86-43f3-a0e0-d6787ba8055d.PNG)

result from WAC
![result_key](https://user-images.githubusercontent.com/3261081/195745880-dcab3d2f-afce-4716-afd4-e9a2be3f89eb

[2022-10-14 02:18] yaqiyang commented on #510
Thanks a lot for your help to debug this issue. I will submit a pull request for it. But the fix in the IIS extension will have to come in our next update, which may be soon. At the same time, you may have to change your short date format to something like m/d/yyyy for it to work. I don't see a good workaround here.

[2022-10-14 02:21] desmondkung commented on #510
You're welcome! Glad to help. This issue isn't a priority so I can wait for the update to be pushed out.

[2022-10-14 20:09] yaqiyang commented on #503
We don't seem to have this issue anymore

[2022-10-14 20:09] #503 closed, assigned to nobody

[2022-10-19 18:27] #510 closed, assigned to nobody